{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Management Portal</title>
    <link rel='stylesheet' type="text/css" href="{% static 'css/bootstrap.css' %}">
  </head>
  <body style="height: 100vh;">
    {% if messages %}
        {% for message in messages %}
          {% if message.tags == "success" %} 
            <div class="alert alert-success mx-auto w-25" role="alert">{{ message }}</div>
          {% elif message.tags == "error" %}
            <div class="alert alert-danger mx-auto w-25" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container h-100" style="max-width:900px; margin: auto; padding: 10px">
      <div class="row pt-5 pl-4 pl-lg-0 pr-4 pr-lg-0">
        <div class="col-12">
          <h1 class="text-primary text-center">Welcome to Student Management Portal. </h1>
          <p>
            This is an All-In-One portal for student management. <br>
            Here, you can manage all your student's information easily. Login to access more functionalities.
          </p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <a href="{% url 'register' %}" class="btn btn-bd-primary btn-outline-primary container-fluid">Register here</a>
              <p class="text-center font-weight-bold">Admin but not registered yet?</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <a href="{% url 'login' %}" class="btn btn-bd-primary btn-outline-primary container-fluid">Login here</a>
              <p class="text-center font-weight-bold">Already registered or a student?</p>
            </div>
            <div class="col-12">  
              <p class="text-">
                If you are a <b>student</b>, please approach your admin staff for the username and password and login.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>